* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-page-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	height: 70vh;
}
.mail-input,
.code-input {
	width: 500px;
}

.code-input {
	margin-top: 20px;
}

.logo {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo__img {
	width: 200px;
}

.success-page{
	margin-top: 100px;
}
